body {
    background-color: gray;
}

#div_id {
    margin: auto;
    width: 1000px;
    height: 3655px;
    background-color: aquamarine;
}

#hr_id {
    border: 2px solid yellow;
    width: 80%;
}

.h1_class {
    text-align: center;
    font-size: 40px;
}

#img_id {
    width: 150px;
    height: 200px;
}

.div_img_class {
    display: grid;
    place-items: center;

}

#video_id {
    width: 800px;
    height: 400px;
}

#div_copy_id {
    display: grid;
    place-items: center;
    background-color: darkslategray;
    color: deeppink;
}
